:root {
   --on:#8cff00;
   --on-light:#6ec800;
   --off-light:rgb(48, 48, 48);
   --font:#f0f0f0;
   --dark:#0f0f0f;
   --dark2:#232323;
   --darktransparent:rgb(20, 20, 20);
   --gray:#2b2b2b;
   --gray-light:rgb(58, 58, 58);

   --red:rgb(255, 55, 0);

   color-scheme: light dark;
   color: var(--font);
   max-width: 1400px;
   user-select: none;
   line-height: 1 !important;
   text-align: center;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   margin: 0 auto;
   padding: 0 2rem;
}

@font-face {
   font-family: Cousine;
   src: url("/Cousine.ttf")
}

@font-face {
   font-family: Archivo;
   src: url("/Archivo.ttf")
}

body {
   font-family: Archivo, sans-serif;
   color: var(--font);
   margin: 0;
   height: 100%;
   background: linear-gradient(0deg, rgb(3, 3, 3), #121212);
   background-attachment: fixed;
}

button{
   border: none;
   font-family: Archivo, sans-serif;
}

.text-animate{
  display: inline-block;
  animation: slideFade 0.3s ease-out forwards;
}

@keyframes slideFade{
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

  .sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  } 



.green-text{
   color:var(--on)
}

.wrapper,.popup{
   background-color: var(--darktransparent);
   padding:1rem;
}

.popup{
      padding-top:0;
}

.wrapper{
   border-radius:34px;
}

.navbar {
   width:100%;
   margin:auto;
   top: 1em;
}

.passphrase{
   font-size:3rem !important;
}

/* Grid 10-spaltig, weil es Elemente mit Breite 1/2 und 1/5 gibt  */
.card-container {
   display: grid;
   grid-template-columns: repeat(10, 1fr);
   width: 100%;
   gap: 16px;
}

.card {
   color: var(--dark2);
   border-radius: 18px;
   text-align: center;
   align-content: center;
   box-sizing: border-box;
   transition: background 0.3s;
}

.slim {
   height: 200px !important;
}

.smallest {
   grid-column: span 2;
   height: 130px;
   font-size: 18pt;
   cursor: pointer;
   border: rgb(140 255 0 / 50%) 1px solid;
   border-top-width: 0;
   border-left-width: 0;
   border-right-width: 0;
}

.phrase {
   grid-column: span 5 !important;
   height: 130px;
   font-size: 18pt;
   cursor: pointer;
}

.small {
   grid-column: span 2;
   height: 160px;
   font-size: 24pt;
}

.mid {
   grid-column: span 5;
   height: 240px;
   font-size: 36pt;
   cursor: pointer;
}

.mid:hover {
   background-color: var(--gray-light);
}

.mid:focus {
   color: var(--font);
}

.big {
   grid-column: span 10;
   grid-row: span 1;
}

.full{
   grid-column: span 10 !important;
}

.input {
   display: flex;
   height: 60px;
   width:100%;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   border-radius:999px !important;
   border: solid 2px var(--gray-light);
   box-sizing: border-box;
}

.active{
   color:var(--on);
}

.active:hover a{
   color:var(--on-light) !important;
}

a {
   transition: all 0.3s;
   all: unset;
   text-decoration: none;
   cursor: pointer;
}

a:hover{
   transition: all 0.3s;
   color:var(--on) !important;
}

li{
padding:0.25rem 0.5rem;
}

hr{
   margin:1rem 0;
   padding:0;
   border-color:var(--dark2);
}

.info-title{
   display:flex;
   gap:8px;
}

.heading {
   font-size: 46pt;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: baseline;
   padding: 2rem 0;
   gap:0.25rem;
   align-items: center;
}

.shield{
   width:4.6rem;
   transition: all 0.4s linear;
}

.password {
   width: 100%;
   background-color: var(--dark);
   display: block;
   text-align: center;
   overflow: visible;
   white-space: normal;
   word-wrap: break-word;
   overflow-wrap: break-word;
   height:20rem;
   font-size: 5.7em;
}

.transparent{
   stroke: transparent;
   cursor: auto !important;
}

h1 {
   font-size: 72pt;
   margin: 0;
   background: linear-gradient(180deg, white, #a1a1a1);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   transition: all 0.4s linear;
   opacity: 1;
}

h2,
h3 {
   opacity: 0.7;
   margin: 0;
   font-size: 22pt;
   color: white;
   transition: all 0.4s linear;
}

h2:hover,
h3:hover {
   opacity: 1;
}

h5{
   margin:0;
   font-size:1.3rem;
}

input {
   cursor: pointer;
}

.desktop-text{
   visibility: visible;
}

/* 1. Standard-Design zurücksetzen */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
}
.slider:focus {
  outline: none;
}

/* 2. Die Bahn (Track) stylen */
.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: var(--gray-light);
  border-radius: 3px;
}
.slider::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: var(--gray-light);
  border-radius: 3px;
}

/* 3. Den Regler-Knopf (Thumb) stylen */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  margin-top: -7px;
box-shadow: 0 0px 16px rgba(0,0,0,0.75);

}
.slider::-moz-range-thumb {
   height: 16px;
   width: 16px;
   border-radius: 50%;
   margin:auto;
   background: white;
   cursor: pointer;
   border: none;
   margin-top: -7px;
   box-shadow: 0 0px 16px rgba(0,0,0,0.75);
}

/* Optional: Hover-Effekt für den Knopf */
.slider::-webkit-slider-thumb:hover {
  background: var(--on)
}
.slider::-moz-range-thumb:hover {
  background: var(--on)
}

   .input-minmax{
  padding:0 32px
}

.info-container{
   max-width: 800px;
}


.lock-info-container{
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   width:100%;
}

.lock-info-row{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width:13.5rem;
}

.lock-info-icon{
    display: flex;
   gap:0.125rem;
}


footer {
   font-size: 1.15em;
   color: #b8b8b8;
}

.password span {
   user-select: text;
   font-family: Cousine, monospace;
   background: linear-gradient(25deg, white, var(--on));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
}

.dark {
   background-color: var(--dark2);
   color: var(--font);
}

.on {
   background-color: var(--on);
}

.on:hover {
   background-color: var(--on-light);
}

.off {
   background-color: var(--dark2);
   color:var(--font);
}

.off:hover {
   background-color: var(--gray-light);
}

.card.mid:active {
   background-color: var(--gray-light);
   color: var(--font);
}

.navbar ul {
   width:100%;
   display: flex;
   justify-content: center;
   gap: 40px;
   padding:0;
}

.navbar li {
   list-style-type: none;
   font-size: 1.3em;
}

.navbar a:visited {
   color: inherit;
}

.navbar a:hover {
   color: var(--font);
}

.landing {
   font-size: 3em;
   display:grid;
   gap:1rem;
}

.landing-card{
   padding:5rem;
   display: flex;
   gap: 2rem;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.example {
   display: flex;
   flex-direction: column;
   font-size: 0.5em;
}

.info{
   justify-content: center;
height:60px;
   border-radius: 999px;
   font-size:1.8rem;
   display:flex;
   align-items: center;
}

.info-text{
   display:flex;
   flex-direction: column;
   gap:0.6rem;
   font-size:1rem;
   text-align: start;
}

.info-text-icons{
   margin:0.17rem 0.5rem 0 0.5rem;
}

.info-text-icon-row{
   text-align: center;
}

.info-paragraph{
   margin-top:0.5rem;
   line-height: 1.6;
   font-size:1.2rem;
}

.calc-container,.entropy-container{
   grid-column: span 4;
   background-color: var(--gray-light);
   box-sizing: border-box;
}

.length-container {
   grid-column: span 2;
   background-color: var(--dark);
   color: var(--font);
   border: #909090 solid 2px;
   box-sizing: border-box;
}

.entropy-container svg{
   padding:0.125rem 0.4rem 0 0.4rem;
   width:1.5rem;
}

h2{
   font-size: 16pt;
   font-weight: 500;
}

.info-icon{
   width:1.9rem;
   cursor: pointer;
}

.subheading-container{
   position:relative;
   display:flex;
   justify-content: space-between;
   align-items: center;
   gap:1rem;
   padding: 1rem 1rem;
}

.top{
   padding:0 0 1rem 0;
}

.x-container{
   justify-content: end;
}

.subheading-container h2{
   font-size:13pt;
}

.popup{
   position: relative;
   margin:auto;
   background:var(--dark2);
   border-radius:28px;
   box-sizing: border-box;
   width:auto;
   justify-content: center;
   z-index:99;
}

.popup h3{
   margin-bottom:1rem;
}

.qr{
   padding:0 0 2rem 0;
}

.x{
   cursor: pointer;
   padding-top: 0.125rem;
}

.x svg{
   stroke: var(--red);
   stroke-width: 3px;
   width:1.5rem;
}

.accordion{
   position: relative;
   cursor: pointer;
   background-color: var(--dark2);
   border:2px solid var(--gray-light);
   border-radius:12px;
   padding:1rem;
}



.chevron{
   position:absolute;
   top:1rem;
   right:1rem;
}

@media (max-width:1700px) {

   .input-minmax{
  padding:0 32px
}

   :root,
   body {
      font-size: 0.9em;
   }
   
   h1 {
      font-size: 1.3em;
   }

   footer {
      font-size: 1.4em;
   }

   .card-container {
      gap: 10px;
   }

   .shield{
      width:4.2rem;
   }

   .info-icon{
      width:1.5rem;
   }

   .password {
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: pre-wrap;
      font-size: 4.5rem !important;
      padding: 0 2rem;
   }

   .passphrase{
      font-size:3rem !important;
   }

   .wrapper{
      border-radius: 24px;
   }

   .card,.popup {
      border-radius: 11px;
   }

   .smallest {
      height: 8rem;
      font-size: 1.8em;
   }

   .big {
      height: 180px;
   }

   .mid {
      font-size: 3em;
      height: 13rem;
   }

   .input,.info {
      height: 60px;
   }
}

@media (max-width:1330px) {

      .input-minmax{
  padding:0 32px
}

   :root, body {
      font-size: 0.9em;
   }
   
   h1 {
      font-size: 1.1em;
   }

   footer {
      font-size: 1.4em;
   }

   .card-container {
      gap: 10px;
   }

   .shield{
      width:3.7rem;
   }

   .password {
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: pre-wrap;
      font-size: 4.3em !important;
      padding: 0 4rem;
   }

   .passphrase{
      font-size:2rem !important;
   }

   .card {
      border-radius: 16px;
   }

   .smallest {
      height: 12vw;
      font-size: 1.8em;
   }

   .mid {
      font-size: 3em;
      height: 16vw;
   }

   .input {
      height: 50px;
   }

}

@media (min-width:1025px){

   .mobile{
      display:none;
   }

   .desktop{
      display:block;
   }

   .smallest {
      font-size: 1.65em;
   }

   .navbar ul{
      margin-top:2rem ;
   }

    .input-minmax{
      font-size:1.3rem;
    }

}


@media (max-width:1024px) {

.desktop-text{
   display:none;
}

      .input-minmax{
  padding:0 24px
}

   .lock-info-row {
      width: 13rem;
   }

   .mobile{
      display:block;
   }
   .desktop{
      display:none;
   }

   .top{
      padding:0 0 0.5rem 0;
   }
   
   .off:hover{
      background-color: var(--dark2);
      color:var(--font);
      transition: 0.2s all;
   }

   .on:hover{
      background-color: var(--on);
      color:black;
      transition: 0.2s all;
   }

   .dark:hover{
      background: var(--dark2);
   }

   :root{
      padding:1rem;
   }

   :root, body {
      font-size: 1em;
   }

   h1 {
      font-size: 1em;
   }

   .shield{
      width:3.3rem;
   }

   .wrapper,.popup{
      padding:0.75rem;
   }

   .password {
      white-space: wrap;
      font-size: 2.9em !important;
      padding: 0 1.5rem;
   }

   .passphrase{
      font-size:1.5rem !important;
   }

   .big {
      grid-column: span 10;
      height: 180px;
   }

   .input {
      height: 50px;
   }

   .mid {
      grid-column: span 5;
      height: 19vw;
      font-size: 2em;
   }

   .smallest {
      grid-column: span 2;
      height: 15vw;
   }

   .card-container {
      grid-template-columns: repeat(10, 1fr);
   }

   .navbar {
      font-size: 0.8rem;
   }

   .heading {
      font-size: 4em;
    
   }

   .landing-card{
      padding:4rem 0;
      gap: 2rem;
   }

   .landing {
      font-size: 1.6em;
   }

   a:hover{
      color:var(--on) !important;
   }

}

@media (max-width:768px) {

   .input-minmax{
  padding:0 20px
}

   .lock-info-row {
      width: 12rem;
   }

   h1 {
      opacity: 1;
   }

   h1:hover {
      opacity: 1;
   }

   footer {
      font-size: 0.95em;
      margin-top: 32px;
   }
   
   li a {
      font-size: 0.8em;
   }

   li{
      padding: 0;
   }

   
   h1 {
      font-size: 0.7em;
   }

   .navbar {
      font-size: 1em;
   }

   .shield{
      width:2.1rem;
   }

   .smallest {
      border-radius: 8px;
      font-size: 1.4em;
   }

   .mid {
      border-radius: 8px;
      font-size: 1.3em;
   }

   .big {
      height: 160px;
   }

   .password {
      white-space: wrap;
      font-size: 2.1em !important;
      padding: 0 1rem;
   }

   .passphrase{
      font-size:1.2rem !important;
   }

   .input,.info {
      height: 50px !important;
   }

   .info{
      font-size:1.3rem;
   }

   .info-icon{
      width:1.6rem;
   }

   .entropy-container svg{
      padding:0.125rem 0.2rem 0 0.2rem;
      width:1.125rem;
   }

   .qr svg{
      width:320px;
      height:320px;
   }

   .info-text-icons{
      margin:0.17rem 0.5rem 0 0.5rem;
   }
   
   .info-text-icon-row{
      display:block;
   }

   .info-paragraph{
      font-size:1rem;
   }

   .landing-card{
      border-radius:6px;
   }

   .subheading-container h2{
      font-size:11pt;
   }

   .wrapper{
      border-radius:14px;
   }
}


@media (max-width:425px) {

   .input-minmax{
  padding:0 20px
}

   .lock-info-row {
      width: 11.5rem;
   }
   
   :root {
      padding: 0 0.5rem !important;
   }

   .wrapper,.popup{
      padding:0.5rem;
   }
   
   footer {
      font-size: 0.75em;
      margin-top: 32px;
   }


   h5{
      font-size:1rem;
   }

   .heading h1{
      font-size: 0.58em;
   }

   .shield{
      width:1.6rem;
   }

   .card-container {
      gap: 0.5rem;
   }

   .smallest,.mid {
      border-radius: 8px;
      font-size: 1.15em;
   }

   .password {
      white-space: wrap;
      font-size: 2em !important;
      padding: 0 1rem;
   }

   .passphrase{
      font-size:1.1rem !important;
   }

   .input,.info {
      height: 50px !important;
   }

   .navbar {
      font-size: 0.8em;
   }

   .landing-card{
      padding:3.8rem 0;
      gap: 1rem;
      border-radius: 8px;
   }

   .landing {
      font-size: 1.4em;
   }

   .calc-container{
      border-radius: 10px;
   }

   .length-container{
      border-radius:10px;
   }

   .entropy-container{
      border-radius: 10px;
   }
   
   .entropy-container svg{
      padding:0.125rem 0.15rem 0 0.15rem;
      width:1rem;
   }

   .info{
      padding:0;
      font-size:1rem;
   }

   .info-icon{
      width:1.2rem;
   }

   .info-text{
      font-size:0.9rem;
   }   

   .info-paragraph{
      font-size:0.9rem;
   }

   .qr svg{
      width:200px;
      height:200px;
   }

   .chevron svg{
      width:1.1rem;
   }
}
